{% extends '::baselayout.html.twig' %}
{% block body %}

<section class="static-page-title flex">
  <h1>Les projets</h1>
</section>

<section class="cards-home-section">
    <div class="wrapper-nav">
        <nav class="cards-home-navbar">
          <a href="#" class="popular">En cours</a>
        <div id="menuderoulant">
          <a href="#" class="category">Catégories</a>
           <ul>
             <li><a href="#">Tout</a></li>
             <li><a href="#">Circuit cours</a></li>
             <li><a href="#">Collaboratif</a></li>
             <li><a href="#">Création d'emploi</a></li>
             <li><a href="#">Culturel</a></li>
             <li><a href="#">Environnemental</a></li>
             <li><a href="#">Humanitaire</a></li>
             <li><a href="#">Social</a></li>
             <li><a href="#">Solidaire</a></li>
          </ul>
        </div>
            <form class="card-nav-form-d">
                <input type="text" placeholder="Chercher Un Projet" class="searchbar-cards-home">
            </form>
        </nav>

        <hr class="hr-cards">
    </div>
    <div class="wrapper-home-cards">
        <form class="card-nav-form-m">
            <input type="text" placeholder="Chercher Un Projet" class="searchbar-cards-home">
        </form>

        <!-- cards -->
        <div class="home-cards" target="blank">
            <a href="{{ path('mmh_site_projet') }}">

                <h2 class="card-home-title">Inolin : un matériau écologique</h2>
                <div class="img-remplacement"></div>
                <h2 class="finish-banner">Terminée</h2>
                <p class="home-card-description">Devant le succès nous avons décidé de prolonger la campagne</p>
                <div class="home-card-stats">
                    <div class="card-home-loadbar">161%</div>
                    <div class="card-home-amount">
                        <p class="amount">3370€</p>
                        <p class="contribut">contribués</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- /cards -->

        <!-- cards -->
        <div class="home-cards" target="blank">
            <a href="{{ path('mmh_site_projet')}}">

                <h2 class="card-home-title">Inolin : un matériau écologique</h2>
                <div class="img-remplacement"></div>
                <h2 class="finish-banner">Terminée</h2>
                <p class="home-card-description">Devant le succès nous avons décidé de prolonger la campagne</p>
                <div class="home-card-stats">
                    <div class="card-home-loadbar">161%</div>
                    <div class="card-home-amount">
                        <p class="amount">3370€</p>
                        <p class="contribut">contribués</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- /cards -->

        <!-- cards -->
        <div class="home-cards" target="blank">
            <a href="{{ path('mmh_site_projet')}}">

                <h2 class="card-home-title">Inolin : un matériau écologique</h2>
                <div class="img-remplacement"></div>
                <h2 class="finish-banner">Terminée</h2>
                <p class="home-card-description">Devant le succès nous avons décidé de prolonger la campagne</p>
                <div class="home-card-stats">
                    <div class="card-home-loadbar">161%</div>
                    <div class="card-home-amount">
                        <p class="amount">3370€</p>
                        <p class="contribut">contribués</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- /cards -->

        <!-- cards -->
        <div class="home-cards" target="blank">
            <a href="{{ path('mmh_site_projet')}}">

                <h2 class="card-home-title">Inolin : un matériau écologique</h2>
                <div class="img-remplacement"></div>
                <h2 class="finish-banner">Terminée</h2>
                <p class="home-card-description">Devant le succès nous avons décidé de prolonger la campagne</p>
                <div class="home-card-stats">
                    <div class="card-home-loadbar">161%</div>
                    <div class="card-home-amount">
                        <p class="amount">3370€</p>
                        <p class="contribut">contribués</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- /cards -->

        <!-- cards -->
        <div class="home-cards" target="blank">
            <a href="{{ path('mmh_site_projet')}}">

                <h2 class="card-home-title">Inolin : un matériau écologique</h2>
                <div class="img-remplacement"></div>
                <h2 class="finish-banner">Terminée</h2>
                <p class="home-card-description">Devant le succès nous avons décidé de prolonger la campagne</p>
                <div class="home-card-stats">
                    <div class="card-home-loadbar">161%</div>
                    <div class="card-home-amount">
                        <p class="amount">3370€</p>
                        <p class="contribut">contribués</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- /cards -->

        <!-- cards -->
        <div class="home-cards" target="blank">
            <a href="{{ path('mmh_site_projet')}}">

                <h2 class="card-home-title">Inolin : un matériau écologique</h2>
                <div class="img-remplacement"></div>
                <h2 class="finish-banner">Terminée</h2>
                <p class="home-card-description">Devant le succès nous avons décidé de prolonger la campagne</p>
                <div class="home-card-stats">
                    <div class="card-home-loadbar">161%</div>
                    <div class="card-home-amount">
                        <p class="amount">3370€</p>
                        <p class="contribut">contribués</p>
                    </div>
                </div>
            </a>
        </div>
        <!-- /cards -->
    </div>
</section>

{% endblock %}
