{% extends '::baselayout.html.twig' %}
{% block body %}
{% for project in project %}

<!-- project image -->
<div class="container">
  <figure class="project-image-container">
    {% for image in project.imageproject %}
    {% if image.headimage %} <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('my_carousel') }}"  /> {% endif %}
    {% endfor %}
  </figure>
  <!-- project details -->
  <section class="header-text">
    <h1>{{project.title}}</h1>

    <!-- <h1>Un winch pour rider sur l'eau<br>avec l'association WaterWood</h1> -->
    <div class="row">
      <div class="second circle">
        <strong></strong>
      </div>
      <div class="left-bar">
        {% set total = 0 %}
        {% set supp = 0 %}
        {% for payment in project.payment %} {% set total = total + payment.amount %}
        {% set supp = supp + 1 %}
        {% endfor %}
        <p>{{total}} € Contribué{% if total > 0 %}s{% endif %}</p>
        <p>{{project.finalObjective}} € Objectif</p>
        <p> {{supp}} supporteur{% if supp > 0 %}s{% endif %}</p>

        {% set endDate = project.endDate | date('U') %}
        {% set currentDate = "now" | date('U') %}
        {% set remainingDays = endDate - currentDate %}

        <p>
          {% if remainingDays <= 0 %}
          Finie
          {% else %}
          J-{{ (remainingDays / 86400) | round }}
          {% endif %}
        </p>
      </div>
    </div>
    <div>
      <p>
        {{project.headline}}.
      </p>
      <ul class="social-networks">
        <li>
          <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/facebook_vert.png') }}" class="social-icons" alt="Twitter" /></a>
        </li>
        <li>
          <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/google-plus_vert.png') }}" class="social-icons" alt="Google plus" /></a>
        </li>
        <li>
          <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/linkedin_vert.png') }}" class="social-icons" alt="Linkedin" /></a>
        </li>
        <li>
          <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/twitter_vert.png') }}" class="social-icons" alt="Twitter" /></a>
        </li>
      </ul>
    </div>
  </section>
</div>
{% endfor %}
{% block section %}{% endblock %}
<!-- /project details -->
<aside class="proposer">
  <!-- contribute button -->
  <div class="contribute">
    <button class="project-button " type="button" name="button">Contribuer</button>
  </div>
  <!-- /contribute button -->
  <div class="proposer-info">
    {% for project in project %}
    <h1>{{[project.user.firstname,project.user.name]|join(' ')}}</h1>

    <figure>
      <img src="{{ vich_uploader_asset(project.user, 'imageFile') }}" />

    </figure>


    <p>
      {{project.user.bio}}
    </p>
  </div>
  {% endfor %}

  <!-- Top contributors -->

  <div class="contributors">
    <h2>Top contributions:</h2>
    <p class="ten span">
      <span>
        {% for project in project %}
        {% for amount in project.amount if amount.amount == 10 %}
        {{amount.amount}}

      </span>
      <i>

        {% set ten = 0 %}
        {% for payment in project.payment if  payment.amount == 10 %}
        {% set ten = ten + 1 %}
        {% endfor %}
        {{ten}}

      </i>
      <img src="{{ asset('bundles/mmhsite/img/group.png') }}" alt="" /></p>
      {% endfor %}

      <p class="twenty span">
        <span>
          {% for amount in project.amount if amount.amount == 20 %}
          {{amount.amount}}

        </span>
        <i>

          {% set twenty = 0 %}
          {% for payment in project.payment if  payment.amount == 20 %}
          {% set twenty = twenty + 1 %}
          {% endfor %}
          {{twenty}}

        </i>
        <img src="{{ asset('bundles/mmhsite/img/group.png') }}" alt="" /></p>
        {% endfor %}

        <p class="thirty span">
          <span>
            {% for amount in project.amount if amount.amount == 30 %}
            {{amount.amount}}

          </span>
          <i>
            {% set thirty = 0 %}
            {% for payment in project.payment if  payment.amount == 30 %}
            {% set thirty = thirty + 1 %}
            {% endfor %}
            {{thirty}}
          </i>
          <img src="{{ asset('bundles/mmhsite/img/group.png') }}" alt="" /></p>
          {% endfor %}
          {% endfor %}
        </div>

        <!-- social networks-->
        <ul class="social-networks">
          <li>
            <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/facebook_vert.png') }}" class="social-icons" alt="Twitter" /></a>
          </li>
          <li>
            <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/twitter_vert.png') }}" class="social-icons" alt="Twitter" /></a>
          </li>
        </ul>
      </aside>
    </div>
    {% endblock %}
