{% extends '::baselayout.html.twig' %}
{% block body %}
{% for project in project %}

<!-- project image -->
<div class="container">
  <figure class="project-image-container">
    {% for image in project.imageproject %}
    {% if image.headimage %} <img src="{{ vich_uploader_asset(image, 'imageFile') | imagine_filter('my_carousel') }}"  /> {% endif %}
    {% endfor %}
  </figure>
  <!-- project details -->
  <section class="header-text">
    <h1>{{project.title}}</h1>

    <!-- <h1>Un winch pour rider sur l'eau<br>avec l'association WaterWood</h1> -->
    <div class="row">
      <div class="second circle">
        <strong></strong>
      </div>
      <div class="left-bar">
        {% set total = 0 %}
        {% set supp = 0 %}
        {% for payment in project.payment %} {% set total = total + payment.amount %}
        {% set supp = supp + 1 %}
        {% endfor %}
        <p>{{total}} € Contribué{% if total > 0 %}s{% endif %}</p>
        <p>{{project.finalObjective}} € Objectif</p>
        <p> {{supp}} supporteur{% if supp > 0 %}s{% endif %}</p>

        {% set endDate = project.endDate | date('U') %}
        {% set currentDate = "now" | date('U') %}
        {% set remainingDays = endDate - currentDate %}

        <p>
          {% if remainingDays <= 0 %}
          Finie
          {% else %}
          J-{{ (remainingDays / 86400) | round }}
          {% endif %}
        </p>
      </div>
    </div>
    <div>
      <p>
        {{project.headline}}.
      </p>
      <ul class="social-networks">
        <li>
          <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/facebook_vert.png') }}" class="social-icons" alt="Twitter" /></a>
        </li>
        <li>
          <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/google-plus_vert.png') }}" class="social-icons" alt="Google plus" /></a>
        </li>
        <li>
          <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/linkedin_vert.png') }}" class="social-icons" alt="Linkedin" /></a>
        </li>
        <li>
          <a href="#"><img src="{{ asset('bundles/mmhsite/img/logos_RS/twitter_vert.png') }}" class="social-icons" alt="Twitter" /></a>
        </li>
      </ul>
    </div>
  </section>
</div>
{% endfor %}
{% block section %}{% endblock %}
<!-- /project details -->
<aside class="proposer">
  <!-- contribute button -->
  <div class="contribute">
    <button class="project-button " type="button" name="button">Contribuer</button>
  </div>
  <!-- /contribute button -->
  {% for project in project %}
  <div class="proposer-info">
    {% if project.user %}
    <h1>{{[project.user.firstname,project.user.name]|join(' ')}}</h1>
    <figure>
      <img src="{{ vich_uploader_asset(project.user, 'imageFile') }}" />
    </figure>
    <p>
      {{project.user.bio}}
    </p>
    {% else %}
    <p>Pas d'info sur sur porteur de projet</p>
  </div>
  {% endif %}
  {% endfor %}

  <!-- Top contributors -->

  <div class="contributors">
    <h2>Top contributions:</h2>

    {% for project in project %}

<!-- Loop to get the different payment value available -->
      {% for value in project.values %}
        <p class= "ten span">
          <span>{{ value }}</span>

<!-- Variable to count the number of payments for a specifique amount/value -->
          {% set totalpayments = 0 %}

          {% for payment in project.payment %}
            {% if payment.amount == value.__toString %}
              {% set totalpayments = totalpayments + 1 %}
            {% endif %}
          {% endfor %}

<!-- Display the total number of matched payments with the value and the image -->
          <i>{{ totalpayments}}</i>
          <img src="{{ asset('bundles/mmhsite/img/group.png') }}" alt="" /></p>
        </p>
      {% endfor %}

      <ul class="social-networks">
        {% if project.facebook %}
          <li>
            <a href="{{ project.facebook }}" target="_blank"><img src="{{ asset('bundles/mmhsite/img/logos_RS/facebook_vert.png') }}" class="social-icons" alt="logo facebook" /></a>
          </li>
        {% endif %}
        {% if project.twitter %}
          <li>
            <a href="{{ project.twitter }}" target="_blank"><img src="{{ asset('bundles/mmhsite/img/logos_RS/twitter_vert.png') }}" class="social-icons" alt="logo twitter" /></a>
          </li>
        {% endif %}
        {% if project.linkedin %}
          <li>
            <a href="{{ project.linkedin }}" target="_blank"><img src="{{ asset('bundles/mmhsite/img/logos_RS/linkedin_vert.png') }}" class="social-icons" alt="logo linkedin" /></a>
          </li>
        {% endif %}
        {% if project.pinterest %}
          <li>
            <a href="{{ project.pinterest }}" target="_blank"><img src="{{ asset('bundles/mmhsite/img/logos_RS/pinterest_vert.png') }}" class="social-icons" alt="logo pinterest" /></a>
          </li>
        {% endif %}
      </ul>


    {% endfor %}

      </aside>
    </div>
    {% endblock %}
