{% extends '::baselayout.html.twig' %}

{% block body %}

  {% block header %}
  <!-- Page main title -->
    <section class="static-page-title flex">
    <h1>{% block headtitle %}{% endblock %}</h1>
    </section>
  <!-- /Page main title -->
  {% endblock %}

  {% block section %}
  {% endblock %}

  <!-- Social icons at the bottom of article -->
  <ul class="flex static-social-medias">
    <li><a href="#"><img src="{{ asset('bundles/mmhsite/img/icon/facebook_vert.png') }}" alt="logo facebook"></a></li>
    <li><a href="#"><img src="{{ asset('bundles/mmhsite/img/icon/twitter_vert.png') }}" alt="logo twitter"></a></li>
    <li><a href="#"><img src="{{ asset('bundles/mmhsite/img/icon/linkedin_vert.png') }}" alt="logo linkedin"></a></li>
  </ul>
</section>

  <!-- End Social icons at the bottom of article -->

  <!-- Aside on the right with the articles -->
      <aside class="static-content-aside">

        <!-- Social media icons at the top of the aside -->
        <ul class="flex static-social-medias">
          <li><a href="#"><img src="{{ asset('bundles/mmhsite/img/icon/facebook_vert.png') }}" alt="logo facebook"></a></li>
          <li><a href="#"><img src="{{ asset('bundles/mmhsite/img/icon/twitter_vert.png') }}" alt="logo twitter"></a></li>
          <li><a href="#"><img src="{{ asset('bundles/mmhsite/img/icon/linkedin_vert.png') }}" alt="logo linkedin"></a></li>
        </ul>

        <!-- Blog articles on the left side -->
        <article>
          <a href="#">
            <h3>Le financement participatif solidaire en France : les raisons du boom</h3>
            <img src="{{ asset('bundles/mmhsite/img/content/Telethon.jpg') }}" alt="célébration du telethon">
          </a>
        </article>
        <article>
          <a href="#">
            <h3>Le crowdfunding solidaire dans la troisième révolution industrielle en Nord Pas-de-Calais</h3>
            <img src="{{ asset('bundles/mmhsite/img/content/fille_fleur.jpg') }}" alt="enfant qui souffle sur un moulin à vent">
          </a>
        </article>
        <article>
          <a href="#">          
            <h3>Aux origines du financement participatif en France, le mécénat collectif !</h3>
            <img src="{{ asset('bundles/mmhsite/img/content/statue_liberte.jpg') }}" alt="statue de la liberté">
          </a>
        </article>
      </aside>

      <!-- Son wrapper closure -->
    </div>


{% endblock %}
