{% extends 'MMHStaticBundle::staticlayout.html.twig' %}

{% block title %}My Money Help{% endblock %}

{% block metadescription %}Plateforme de financement participatif MyMoneyHelp{% endblock %}

{% block headtitle %}Le blog de MyMoneyHelp{% endblock %}

{% block section %}

<!-- General wrapper for the content -->
<div class="wrapper-static-content flex">
<!-- Main section on the left with text and image content -->
<section class="static-content-section">

  {% for article in articleAlone %}
    <h2 id="blog-title">{{ article.title }}</h2>
          {% for image in article.imagearticle %}
            {% if image.headimage %}
              <img class="static-image blog-image" src="{{ app.request.basePath }}{{ vich_uploader_asset(image, 'imageFile') }}" alt="{{image.description}}">
            {% endif %}
          {% endfor %}
          <p>{{ article.content}}</p>
          <span>Par {{article.user.firstname}} le {{ article.datecreation|date('d/m/Y')}}</span>
  {% endfor %}

{% endblock %}
