{% extends 'MMHSiteBundle::sliderlayout.html.twig' %}

{% block title %}My Money Help{% endblock %}

{% block metadescription %}Plateforme de financement participatif MyMoneyHelp{% endblock %}

{% block section %}

<!--************************** MAIN CONTENT ********************************-->
<section class="cards-home-section">
    <div class="wrapper-nav">
        <nav class="cards-home-navbar">
          <a href="#" class="popular">En cours</a>
        <div id="menuderoulant">
          <a href="#" class="category">Catégories</a>
           <ul>
             <li><a href="#">Tout</a></li>
             <li><a href="#">Solidarité, humanitaire, société</a></li>
             <li><a href="#">Entrepreneuriat, ESS</a></li>
             <li><a href="#">Sports, santé</a></li>
             <li><a href="#">Culture, arts, éducation</a></li>
             <li><a href="#">Autres</a></li>
          </ul>
        </div>
            <form class="card-nav-form-d">
                <input type="text" placeholder="Chercher Un Projet" class="searchbar-cards-home">
            </form>
        </nav>

        <hr class="hr-cards">
    </div>
    <div class="wrapper-home-cards">
        <form class="card-nav-form-m">
            <input type="text" placeholder="Chercher Un Projet" class="searchbar-cards-home">
        </form>

        <!-- cards -->

        {% for project in project %}
        <div class="home-cards" target="blank">
            <a href="{{ path('mmh_site_projet', {'slug': project.slug}) }}">
                <h2 class="card-home-title">{{project.title}}</h2>
                <div class="img-remplacement"></div>
                <h2 class="finish-banner">{% if project.status %}En cours {% else %}Terminée {% endif %}</h2>
                <p class="home-card-description">{{project.headline}}</p>
                <div class="home-card-stats">
                  <div class = "progressBar">
                    <div class = "progression">
                      <span class="value">
                        {% set total = 0 %}
                        {% for payment in project.payment %} {% set total = total + payment.amount %} {% endfor %}
                        {% set percent = (total / project.finalObjective) *100 %}
                        {{ percent|round }}% 
                      </span>
                    </div>
                  </div>
                    <div class="card-home-amount">
                        <p class="amount"> {{total}} €</p>
                        <p class="contribut">contribués</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}

    </div>
</section>

<!--************************* /MAIN CONTENT ********************************-->

{% endblock %}
